@charset "UTF-8";
@use "parts/_animation.scss";
@use "parts/_btn.scss";
@use "parts/_header.scss";
@use "parts/_hamburger.scss";
@use "parts/_main.scss";
@use "parts/_page.scss";
@use "parts/_mixin.scss" as m;

html {
    font-size: 62.5%;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 2%;
    overflow-x: hidden;
}

iframe {
    vertical-align: bottom;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.5em;
}

/* ------------------------------
追加エリア
------------------------------ */