@charset "UTF-8";
@use "parts/_btn.scss";
@use "parts/_main.scss";
@use "parts/_header.scss";
@use "parts/_page.scss";
@use "parts/_animation.scss";
@use "parts/_hamburger.scss";
@use "parts/_mixin.scss" as m;

html {
    font-size: 62.5%;
}

html,
body {
    overflow-x: hidden;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 2%;
    overflow-x: hidden;
}

iframe {
    vertical-align: bottom;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.5em;
}

.contact-items {
    a {
        color: #0EA5E9;

        &:hover {
            color: #0E45E9;
        }
    }
}

#voice-area {
    .voice-item {
        background-color: #fff;
        border-radius: 30px;
    }
}

.voice-link {
    display: block;
    border-radius: 30px;
    color: #333;
    padding: 32px 24px;
}

/* ------------------------------
voice-page
------------------------------ */
#voice-block {
    .voice-items {
        max-width: 100%;
    }

    .voice-item {
        width: 98%;
        border: 1px solid #e0dfdf;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 2%;
        margin-inline: auto;

        .profile-names {
            font-weight: bold;
            color: #0EA5E9;
        }
    }
}

.voice-anchor {

    &::before {
        content: "";
        display: block;
        height: 200px;
        margin-top: -200px;
        visibility: hidden;
    }
}

@include m.sp {
    #voice-block {
        .voice-item {
            padding-inline: 8px;
        }
    }
}

.profile-block {
    display: flex;
    align-items: center;
    border-bottom: 4px dotted #0EA5E9;
    padding-bottom: 16px;
    margin-bottom: 24px;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 15px;
        margin-right: 16px;
    }
}

@include m.tab {
    .profile-block {
        flex-direction: column;

        img {
            width: 80px;
            height: 80px;
        }
    }
}

.profile-texts {
    .voice-title {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 1.2;
        color: #0EA5E9;
        margin-bottom: 8px;
    }
}

@include m.tab {
    .profile-texts {
        .voice-title {
            font-size: 2rem;
            margin-top: 16px;
        }
    }
}

.question-answer-title {
    font-size: 2rem;
    font-weight: bold;
}

.question-text {
    font-weight: bold;
    margin-top: 16px;
}

/* ------------------------------
トップページタイトルアニメーション
------------------------------ */
.mv-text {
    width: 700px;
    height: 48%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.mv-text li {
    opacity: 0;
    animation: fadeIn1 25s infinite;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}


@keyframes fadeIn1 {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    18% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.mv-text li {
    &:nth-child(1) {
        animation-delay: 0s;
    }

    &:nth-child(2) {
        animation-delay: 5s;
    }

    &:nth-child(3) {
        animation-delay: 10s;
    }

    &:nth-child(4) {
        animation-delay: 15s;
    }

    &:nth-child(5) {
        animation-delay: 20s;
    }
}

.fadein-title {
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 5.6rem;
    font-weight: bold;
    font-style: normal;
    color: #00b0ff;
}

.small-text {
    font-size: 5rem;
    line-height: 1.3;
}

@include m.pc {

    .mv-text {
        width: 80%;
        height: 48%;
    }

    .fadein-title {
        font-size: 4.8rem;
    }

    .small-text {
        font-size: 4rem;
    }
}

@include m.tab {

    .mv-text {
        width: 90%;
        height: 24%;
    }

    .fadein-title {
        font-size: 4rem;
    }

    .small-text {
        font-size: 3rem;
    }
}

@include m.sp {

    .fadein-title {
        font-size: 3rem;
    }

    .small-text {
        font-size: 2.4rem;
    }
}

@include m.small-screen {
    .mv-text {
        height: 24%;
    }

    .fadein-title {
        font-size: 2rem;
    }
}

.shine {
    position: relative;
    background-image: linear-gradient(70deg,
            rgb(3, 3, 3) 45%,
            #fff 50%,
            rgba(3, 3, 3) 55%);
    background-size: 500% 100%;
    background-clip: text;
    color: transparent;
    animation: shine 3s 0s linear infinite;
}

@keyframes shine {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.information-list li {
    &:hover {
        .shine-category {
            background-color: #0E45E9;
        }

        .article-title {
            border-bottom: 3px dotted#0E45E9;
        }
    }
}