@charset "UTF-8";
/* ------------------------------
トップページタイトルアニメーション
------------------------------ */
.mv-text {
  width: 700px;
  height: 48%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.mv-text li {
  opacity: 0;
  -webkit-animation: fadeIn1 25s infinite;
          animation: fadeIn1 25s infinite;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

@-webkit-keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.mv-text li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.mv-text li:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.mv-text li:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.mv-text li:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
.mv-text li:nth-child(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.fadein-title {
  /* font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
  font-weight: 700; */
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 700;
  font-size: 5.6rem;
  color: #00b0ff;
}

.small-text {
  font-size: 5rem;
  line-height: 1.3;
}

@media screen and (max-width: 1200px) {
  .mv-text {
    width: 80%;
    height: 48%;
  }
  .fadein-title {
    font-size: 4.8rem;
  }
  .small-text {
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .mv-text {
    width: 90%;
    height: 24%;
  }
  .fadein-title {
    font-size: 4rem;
  }
  .small-text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .fadein-title {
    font-size: 3rem;
  }
  .small-text {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 360px) {
  .mv-text {
    height: 24%;
  }
  .fadein-title {
    font-size: 2rem;
  }
}
/* informationのタイトルがキラリと光る */
.shine {
  position: relative;
  background-image: linear-gradient(70deg, rgb(3, 3, 3) 45%, #fff 50%, rgb(3, 3, 3) 55%);
  background-size: 500% 100%;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-animation: shine 3s 0s linear infinite;
          animation: shine 3s 0s linear infinite;
}

@-webkit-keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* ------------------------------
ボタン共通
------------------------------ */
.btn {
  max-width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #0EA5E9;
  border: 2px solid #0EA5E9;
  border-radius: 9999px;
  padding-block: 16px;
  transition: all 0.2s ease;
  margin-inline: auto;
}
.btn i {
  font-size: 1.5em;
  margin-right: 8px;
}

/* ------------------------------
header-btn
------------------------------ */
.campus-btn,
.contact-btn {
  width: 300px;
  height: 60px;
}

.campus-btn {
  background-color: #34D399;
  color: #fff;
  border: 2px solid #34D399;
}
.campus-btn:hover {
  color: #34D399;
  background-color: #fff;
}

.contact-btn {
  background-color: #0EA5E9;
  color: #fff;
  border: 2px solid;
  margin-inline: 1%;
}
.contact-btn:hover {
  color: #0EA5E9;
  background-color: #fff;
}

/* ------------------------------
contents-btn
------------------------------ */
.contents-btn {
  color: #0EA5E9;
  border: 2px solid #0EA5E9;
}
.contents-btn:hover {
  background-color: #0EA5E9;
  color: #fff;
}
.contents-btn i {
  margin-right: 8px;
}

/* ------------------------------
アイコンなしボタン
------------------------------ */
.sub-btn {
  max-width: 260px;
  background-color: #fff;
}
.sub-btn:hover {
  opacity: 0.8;
}

#voice-area .sub-btn:hover {
  opacity: 0.9;
}

/* ------------------------------
contactエリアの問い合わせボタン
------------------------------ */
.contact-area-btn {
  max-width: 300px;
  height: 60px;
  background-color: #34D399;
  border: 2px solid;
  color: #fff;
}
.contact-area-btn:hover {
  color: #34D399;
  background-color: #fff;
}

/* ------------------------------
header
------------------------------ */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: #fff;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 350px;
}
.logo img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 240px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    width: 160px;
  }
}
.header-right {
  display: flex;
}

.header-btn {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .header-btn {
    display: none;
  }
}
.header-link ul {
  display: flex;
}
.header-link .sns-btn {
  width: 87px;
}
.header-link .sns-btn img {
  width: 100%;
}
.header-link .sns-btn a:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .header-link .sns-btn {
    width: 60px;
  }
}
@media screen and (max-width: 480px) {
  .header-link .sns-btn {
    width: 40px;
  }
}
/* ------------------------------
nav
------------------------------ */
#nav {
  /*   position: relative; */
  background-color: #0EA5E9;
}

.nav-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.nav-menu a:hover {
  background-color: #34D399;
}
.nav-menu .main-menu {
  display: inline-block;
  padding: 12px 24px;
}

.nav-responsive {
  display: none;
}

/* ------------------------------
ドロップダウン メニューリスト
------------------------------ */
.dropdown-lists {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #7DD3FC;
}

.dropdown-wrapper.active .dropdown-lists {
  visibility: visible;
  opacity: 1;
}

.bottom-lists {
  position: absolute;
  top: 200%;
  left: 0;
}

.dropdown-list {
  min-width: 200px;
  text-align: center;
  padding: 12px 0;
}
.dropdown-list:hover {
  background-color: #34D399;
}
.dropdown-list a::before {
  content: "●";
  margin-right: 4px;
}

/* ------------------------------
レスポンシブ時のナビメニュー
------------------------------ */
@media screen and (max-width: 1200px) {
  .nav-menu {
    display: none;
  }
}
.open .nav-responsive {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(125, 211, 252, 0.9607843137);
  padding-top: 60px;
}

.nav-responsive-wrapper {
  max-width: 240px;
  margin-inline: auto;
  margin-bottom: 8px;
  padding-inline: 8px;
}
.nav-responsive-wrapper a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}
.nav-responsive-wrapper a::before {
  content: "●";
  margin-right: 4px;
}

/* ------------------------------
ハンバーガーメニュー
------------------------------ */
.hamburger-btn {
  opacity: 0;
  visibility: hidden;
  z-index: 150;
}

@media screen and (max-width: 1200px) {
  .hamburger-btn {
    width: 87px;
    opacity: 1;
    visibility: visible;
    background-color: #0E45E9;
    border-radius: 30%;
    position: relative;
  }
  .hamburger-btn:hover {
    opacity: 0.8;
  }
  .hamburger {
    width: 100%;
    height: 100%;
    border-radius: 30%;
  }
  .hamburger span {
    width: 70%;
    height: 5%;
    background-color: #fff;
    border-radius: 9999px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.6s;
  }
  .hamburger span:nth-child(1) {
    top: 30%;
  }
  .hamburger span:nth-child(2) {
    top: 50%;
  }
  .hamburger span:nth-child(3) {
    top: 70%;
  }
  /* hamburgerの通常時 */
  .open .hamburger-btn {
    opacity: 1;
    visibility: visible;
    background-color: #0E45E9;
    border-radius: 30%;
    position: relative;
  }
  .open .hamburger-btn:hover {
    opacity: 0.8;
  }
  .open .hamburger span {
    transition: all 0.6s ease;
  }
  .open .hamburger span:nth-child(1) {
    top: 50%;
    transform: translateX(-50%) rotate(-225deg);
  }
  .open .hamburger span:nth-child(2) {
    opacity: 0;
    transition: all 0s;
  }
  .open .hamburger span:nth-child(3) {
    top: 50%;
    transform: translateX(-50%) rotate(225deg);
  }
}
@media screen and (max-width: 1200px) {
  .hamburger-btn {
    width: 60px;
  }
}
@media screen and (max-width: 480px) {
  .hamburger-btn {
    width: 40px;
  }
}
/* ------------------------------
西日暮里キャンパスメッセージ
------------------------------ */
#message-area {
  background-color: #E8F0FB;
  margin-block: 72px 0;
  padding: 80px 3%;
  border-radius: 15px;
}

.message-texts {
  margin-bottom: 40px;
}
.message-texts .text-box {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 2.4rem;
  text-align: center;
}
.message-texts .text-box .message-text1 {
  text-align: left;
  font-size: 1.8rem;
}
.message-texts .text-box .message-text2 {
  text-align: left;
  font-size: 1.8rem;
  margin-top: 24px;
}

.campus-name {
  display: block;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  font-size: 8rem;
  line-height: 1;
  color: rgba(14, 69, 233, 0.1882352941);
  margin-bottom: 40px;
}

.responsive-title {
  display: none;
}

@media screen and (max-width: 1200px) {
  .campus-name {
    font-size: 6.4rem;
  }
}
@media screen and (max-width: 700px) {
  .pc-title {
    display: none;
  }
  .responsive-title {
    display: block;
    font-size: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .responsive-title {
    font-size: 4.8rem;
  }
}
/* ------------------------------
4つの魅力
------------------------------ */
#point {
  background-color: #0EA5E9;
  padding-block: 64px 128px;
}

.point-content {
  display: flex;
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 48px;
}

.point-img {
  width: 45%;
}
.point-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 30px 0 0 30px;
}
.point-img .radius-right {
  border-radius: 0 30px 30px 0;
}

@media screen and (max-width: 1200px) {
  .point-content {
    flex-direction: column;
  }
  .fd-cr {
    flex-direction: column-reverse;
  }
  .point-img {
    width: 100%;
    height: 560px;
  }
  .point-img img {
    border-radius: 0 0 30px 30px;
  }
  .point-img .radius-right {
    border-radius: 0 0 30px 30px;
  }
}
@media screen and (max-width: 480px) {
  .point-img {
    width: 100%;
    height: 300px;
  }
}
.point-texts {
  width: 55%;
  border-radius: 0 30px 30px 0;
  padding: 24px 40px 40px 40px;
}
.point-texts .point-text-title {
  margin-bottom: 16px;
}
.point-texts .point-text-title p {
  font-size: 2.4rem;
  font-weight: bold;
  color: #0EA5E9;
}
.point-texts .point-text-title .point-number {
  font-size: 6rem;
  font-weight: 600;
  color: rgba(14, 69, 233, 0.1450980392);
  display: inline-block;
  margin-bottom: 8px;
}
.point-texts .point-text {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 16px;
}
.point-texts .point-text .pay-text {
  font-size: 2.4rem;
  font-weight: 600;
  color: orange;
}

@media screen and (max-width: 1200px) {
  .point-texts {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .point-texts {
    padding: 24px 24px 40px 24px;
  }
}
/* ------------------------------
contents
------------------------------ */
#contents {
  padding-block: 64px 128px;
}

@media screen and (max-width: 1200px) {
  #contents {
    padding-block: 64px;
  }
}
.contents-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  text-align: center;
  margin-bottom: 48px;
}
.contents-lists .contents-list-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.contents-lists img {
  width: 35%;
}

@media screen and (max-width: 700px) {
  .contents-lists {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .contents-lists .contents-list-title {
    font-size: 2rem;
  }
}
.color-frame img {
  width: 35%;
}
.color-frame a {
  position: relative;
  display: block;
  border-radius: 30px 0 30px 0;
  padding-block: 32px;
}
.color-frame a::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 15px 0 15px 0;
}
.color-frame a::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 8px;
  border-left: 16px solid #fff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.color-frame:hover {
  opacity: 0.8;
}

.border-blue {
  border: 8px solid #93C5FD;
}
.border-blue p {
  color: #93C5FD;
  margin-bottom: 0;
}
.border-blue::before {
  background-color: #93C5FD;
}

/* アイコンのフレーム */
.border-orange {
  border: 8px solid #FDBA74;
}
.border-orange p {
  color: #FDBA74;
}
.border-orange::before {
  background-color: #FDBA74;
}

.border-yellow {
  border: 8px solid #FDE047;
}
.border-yellow p {
  color: #FDE047;
}
.border-yellow::before {
  background-color: #FDE047;
}

.border-green {
  border: 8px solid #BEF264;
}
.border-green p {
  color: #BEF264;
}
.border-green::before {
  background-color: #BEF264;
}

.border-mint {
  border: 8px solid #5EEAD4;
}
.border-mint p {
  color: #5EEAD4;
}
.border-mint::before {
  background-color: #5EEAD4;
}

.border-light-blue {
  border: 8px solid #7DD3FC;
}
.border-light-blue p {
  color: #7DD3FC;
}
.border-light-blue::before {
  background-color: #7DD3FC;
}

.border-pink {
  border: 8px solid #F9A8D4;
}
.border-pink p {
  color: #F9A8D4;
}
.border-pink::before {
  background-color: #F9A8D4;
}

.border-purple {
  border: 8px solid #C4B5FD;
}
.border-purple p {
  color: #C4B5FD;
}
.border-purple::before {
  background-color: #C4B5FD;
}

/* ------------------------------
メッセージスライダー 
------------------------------ */
#message-area .slick-track {
  display: flex;
  align-items: center;
}
#message-area img {
  width: 100%;
  display: block;
  border-radius: 13px;
}
#message-area .slick-slide {
  padding-inline: 8px;
}

/* ------------------------------
rainbowスライダー
------------------------------ */
#contents .slick-track {
  display: flex;
  align-items: center;
}
#contents .slick-track img {
  width: 100%;
  display: block;
  border-radius: 12px;
}
#contents .slick-slide {
  margin-inline: 8px;
}

.img-frame {
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-radius: 15px;
}

.img-frame-blue {
  border-right: 4px solid #93C5FD;
  border-bottom: 4px solid #93C5FD;
}

.img-frame-orange {
  border-right: 4px solid #FDBA74;
  border-bottom: 4px solid #FDBA74;
}

.img-frame-yellow {
  border-right: 4px solid #FDE047;
  border-bottom: 4px solid #FDE047;
}

.img-frame-green {
  border-right: 4px solid #BEF264;
  border-bottom: 4px solid #BEF264;
}

.img-frame-mint {
  border-right: 4px solid #5EEAD4;
  border-bottom: 4px solid #5EEAD4;
}

.img-frame-light-blue {
  border-right: 4px solid #7DD3FC;
  border-bottom: 4px solid #7DD3FC;
}

.img-frame-pink {
  border-right: 4px solid #F9A8D4;
  border-bottom: 4px solid #F9A8D4;
}

.img-frame-purple {
  border-right: 4px solid #C4B5FD;
  border-bottom: 4px solid #C4B5FD;
}

/* ------------------------------
information
------------------------------ */
/* #information {
    padding-block: 64px 128px;
}

.information-list {
    width: 96%;
    margin-inline: auto;
    margin-bottom: 40px;

    a {
        font-size: 1.6rem;
        color: #333;
    }

    .article-category {
        padding: 4px 16px;
        background-color: #0EA5E9;
        border-radius: 5px;
        color: #fff;
        margin-left: 16px;
    }

    .article-title {
        padding-block: 16px 4px;
        border-bottom: 2px dotted #0EA5E9;
    }
}

.information-list li {
    margin-block: 16px;

    &:hover {
        .shine-category {
            background-color: #0E45E9;
        }

        .article-title {
            border-bottom: 3px dotted#0E45E9;
        }
    }
} */
#information {
  padding-block: 64px 128px;
}

.information-list {
  width: 96%;
  margin-inline: auto;
  margin-bottom: 40px;
}
.information-list a {
  font-size: 1.6rem;
  color: #333;
}
.information-list .article-category {
  padding: 4px 16px;
  background-color: #0EA5E9;
  border-radius: 5px;
  color: #fff;
  margin-right: 16px;
}
.information-list .article-title {
  padding-block: 12px 4px;
  border-bottom: 2px dotted #0EA5E9;
}

.information-list li {
  margin-block: 16px 24px;
}
.information-list li:hover .shine-category {
  background-color: #0E45E9;
}
.information-list li:hover .article-title {
  border-bottom: 3px dotted #0E45E9;
}

/* ------------------------------
movie
------------------------------ */
#movie {
  padding-block: 64px 128px;
  background-color: #E8F0FB;
  text-align: center;
}

.youtube-inner {
  max-width: 800px;
  border-radius: 40px;
  margin-inline: auto;
  margin-block: 40px;
}
.youtube-inner iframe {
  width: 100%;
  height: 450px;
  border: 8px solid #0EA5E9;
  border-radius: 40px;
}

@media screen and (max-width: 700px) {
  #movie .sec-title {
    margin-bottom: 40px;
  }
  .youtube-inner {
    max-width: 560px;
    margin-block: 40px;
  }
  .youtube-inner iframe {
    height: 315px;
  }
}
@media screen and (max-width: 480px) {
  .youtube-inner {
    max-width: 380px;
  }
  .youtube-inner iframe {
    height: 213px;
  }
}
/* ------------------------------
voice-area
------------------------------ */
#voice .voice-item {
  background-color: #fff;
  border-radius: 30px;
  padding: 32px 24px;
}

.voice-items {
  max-width: 95%;
  margin-inline: auto;
}

#voice-area {
  background-color: #0EA5E9;
  padding-block: 64px;
}

.click-message {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
  padding-inline: 2%;
}

@media screen and (max-width: 700px) {
  .click-message {
    text-align: left;
  }
}
.voice-texts {
  border-bottom: 4px dotted #0EA5E9;
  padding-bottom: 16px;
}
.voice-texts .voice-title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  color: #0EA5E9;
  margin-bottom: 8px;
}
.voice-texts .voice-text {
  font-size: 1.6rem;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.profile .profile-left {
  display: flex;
  align-items: center;
}
.profile .face-img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  margin-right: 16px;
}
.profile .profile-name .age,
.profile .profile-name .name {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #0EA5E9;
}
.profile .profile-name .name::after {
  content: "・";
}
.profile .voice-view-btn {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 16px;
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  .voice-items {
    max-width: 90%;
  }
}
#voice-area .voice-item {
  background-color: #fff;
  border-radius: 30px;
}

.voice-link {
  display: block;
  border-radius: 30px;
  color: #333;
  padding: 32px 24px;
}

/* ------------------------------
voices-area手動スライド
------------------------------ */
#voice-area {
  /* 矢印スタイル */
}
#voice-area .slick-arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
#voice-area .slick-custom-prev {
  left: -30px;
}
#voice-area .slick-custom-next {
  right: -30px;
}
#voice-area .slick-arrow img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}
#voice-area .slick-dots {
  left: 50%;
  transform: translateX(-50%);
}
#voice-area .slick-dots li {
  margin-bottom: 16px;
}
#voice-area .slick-slide {
  margin-inline: 16px;
}
#voice-area .slick-dots li button:before {
  font-size: 16px;
  color: #fff;
  opacity: 1;
}
#voice-area .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #0E45E9;
}
#voice-area .slick-dotted.slick-slider {
  padding-bottom: 40px;
}

@media screen and (max-width: 700px) {
  #voice-area .slick-arrow {
    width: 40px;
    height: 40px;
  }
  #voice-area .slick-custom-prev {
    left: -10px;
  }
  #voice-area .slick-custom-next {
    right: -10px;
  }
}
/* ------------------------------
question
------------------------------ */
.page-contents-title {
  width: 98%;
  text-align: center;
  background-color: #0EA5E9;
  font-size: 2.4rem;
  color: #fff;
  border-radius: 10px;
  margin-inline: auto;
  margin-bottom: 32px;
  padding-block: 8px;
}

/* ------------------------------
accordion
------------------------------ */
#question {
  padding-block: 64px;
}

.learning_edition {
  margin-bottom: 56px;
}

.accordion-one {
  margin-bottom: 16px;
}

.ac-header {
  position: relative;
  max-width: 98%;
  background-color: rgba(14, 164, 233, 0.2392156863);
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: 0.2s;
  margin-inline: auto;
  padding: 2.4rem 5rem 2.4rem 1.6rem;
}

.ac-open {
  border-radius: 10px 10px 0 0;
}

.ac-inner {
  max-width: 98%;
  display: none;
  background-color: rgba(14, 164, 233, 0.2392156863);
  border-top: 3px dashed #0E45E9;
  border-radius: 0 0 10px 10px;
  margin-inline: auto;
  padding: 1.6rem 5rem 1.6rem 1.6rem;
}

.open-icon:before,
.open-icon:after {
  position: absolute;
  content: "";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

.open-icon:before {
  border-top: 4px solid #0E45E9;
  width: 30px;
  height: 0;
  top: 0;
  bottom: 0;
  right: 18px;
}

.open-icon:after {
  border-left: 4px solid #0E45E9;
  width: 0;
  height: 30px;
  top: 0;
  bottom: 0;
  right: 31px;
  transition: 0.3s;
}

.ac-open .open-icon:after {
  height: 0;
}

.p-faq-headinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}

.p-faq-bodyinner {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}

.faq-p-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 24px;
}

.faq-p-text {
  font-size: 1.6rem;
  margin-left: 24px;
}

.circle {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 45px;
  text-align: center;
  background-color: #0EA5E9;
  border-radius: 50%;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.a-circle {
  background-color: #34D399;
  position: absolute;
  top: 2.4rem;
  left: 0;
  transform: translateY(-50%);
}

/* ------------------------------
contact
------------------------------ */
#contact {
  padding-block: 0 64px;
}
#contact .sec-title {
  margin-bottom: 40px;
}

.contact-address {
  text-align: center;
}

.campus-address {
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.contact-items {
  font-size: 2.4rem;
  font-weight: bold;
  color: #0EA5E9;
}
.contact-items .contact-item {
  margin-bottom: 8px;
}
.contact-items .contact-item:nth-child(3) {
  font-size: 1.8rem;
  font-weight: normal;
  color: #333;
}
.contact-items i {
  font-size: 1em;
  margin-right: 8px;
}

.contact-items a {
  color: #0EA5E9;
}
.contact-items a:hover {
  color: #0E45E9;
}

@media screen and (max-width: 700px) {
  .contact-items {
    font-size: 2rem;
  }
  .contact-items .contact-item:nth-child(3) {
    font-size: 1.6rem;
  }
  .contact-items .contact-item:last-child {
    font-size: 1.4rem;
  }
}
.contact-text {
  text-align: center;
  font-size: 1.8rem;
  margin-block: 24px;
}

@media screen and (max-width: 700px) {
  .contact-text {
    font-size: 1.6rem;
    margin-block: 16px;
  }
}
.contact-sns-icons {
  display: flex;
  justify-content: center;
  margin-block: 32px;
}
.contact-sns-icons .contact-sns-icon {
  width: 60px;
  margin-inline: 8px;
}
.contact-sns-icons .contact-sns-icon:hover {
  opacity: 0.8;
}
.contact-sns-icons .contact-sns-icon img {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .contact-sns-icons {
    margin-block: 16px;
  }
}
/* ------------------------------
kg-group
------------------------------ */
#kg-group {
  margin-bottom: 128px;
}

.kg-group-info {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
  margin-inline: auto;
}

.kg-group-title,
.kg-group-text {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  padding: 16px;
}

.kg-group-title {
  width: 30%;
}

.kg-group-text {
  width: 70%;
}

@media screen and (max-width: 1200px) {
  #kg-group {
    margin-bottom: 64px;
  }
  .kg-group-info {
    max-width: 90%;
  }
}
/* ------------------------------
footer
------------------------------ */
#footer {
  text-align: center;
  background-color: #0EA5E9;
  padding-block: 40px;
}
#footer a {
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  padding-bottom: 2px;
}
#footer a:hover {
  opacity: 0.8;
}
#footer .copyright {
  color: #fff;
  margin-top: 16px;
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  #footer {
    padding-block: 40px 120px;
  }
}
/* topへ戻る */
.to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 100px;
  z-index: 50;
}
.to-top img {
  border-radius: 100%;
}

@media screen and (max-width: 1200px) {
  .to-top {
    display: none;
  }
  .to-top img {
    display: none;
  }
}
/* ------------------------------
footer(レスポンシブ)
------------------------------ */
.responsive-footer {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 150;
  padding-block: 16px;
}

.footer-contact {
  display: inline-block;
}
.footer-contact .fa-envelope,
.footer-contact .fa-house,
.footer-contact .footer-contact-text {
  color: #0EA5E9;
}
.footer-contact .fa-phone,
.footer-contact .footer-contact-tel {
  color: #34D399;
}
.footer-contact .footer-contact-text,
.footer-contact .footer-contact-tel {
  font-size: 1.4rem;
  font-weight: bold;
}

.m-inline {
  margin-inline: 32px;
}

.border-inline {
  border-left: 2px solid #0EA5E9;
  border-right: 2px solid #0EA5E9;
  padding-inline: 32px;
}

@media screen and (max-width: 1200px) {
  .responsive-footer {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .m-inline {
    margin-inline: 16px;
  }
  .border-inline {
    padding-inline: 16px;
  }
}
/* ------------------------------
page共通
------------------------------ */
#access,
#activity,
#course,
#graduation,
#greeting,
#life,
#single,
#picup,
#support,
#campus,
#article,
#contact-form,
#cost,
#voice {
  padding-block: 40px;
}

.page-wrapper {
  max-width: 90%;
  background-color: #fff;
  margin-inline: auto;
  padding-inline: 2%;
}

.page-visual {
  width: 98%;
  margin-inline: auto;
}
.page-visual img {
  width: 100%;
}

/* 太帯・黒太文字 */
.page-title {
  width: 98%;
  text-align: center;
  background-color: #0EA5E9;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  border-radius: 10px;
  padding-block: 8px;
  padding-inline: 2%;
  margin-bottom: 32px;
  margin-inline: auto;
}

/* 太帯・白太文字 */
.page-sub-title {
  width: 98%;
  text-align: center;
  background-color: #0EA5E9;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  padding-block: 8px;
  margin-inline: auto;
  margin-block: 32px;
}

/* 太帯・白文字 */
.page-sub-title-light {
  width: 98%;
  text-align: center;
  background-color: #FDBA74;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 10px;
  padding-block: 8px;
  margin-inline: auto;
  margin-block: 32px;
}

/* デフォルトの文字 */
.page-text {
  width: 98%;
  font-size: 1.6rem;
  margin-top: 24px;
  margin-inline: auto;
}

/* 外側の線デフォルト */
.border-light {
  border: 1px solid #0EA5E9;
  padding-bottom: 40px;
  margin-top: 40px;
}
.border-light:last-of-type {
  margin-bottom: 0;
}

/* ・始まりリスト */
.normal-list {
  width: 96%;
  list-style: inside;
  font-size: 1.6rem;
  margin-inline: auto;
}

/* ・始まり色付きリスト */
.color-list {
  width: 98%;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 4px;
  margin-inline: auto;
}
.color-list::before {
  content: "・";
  color: #FDE047;
}

/* 色付きリストの文章エリア */
.list-texts {
  margin-bottom: 32px;
}
.list-texts .page-text {
  margin-top: 0;
}

/* ------------------------------
タイトル
------------------------------ */
.sec-title {
  text-align: center;
  margin-block: 64px;
}
.sec-title span {
  display: block;
}
.sec-title .main-title {
  font-size: 4.8rem;
  border-bottom: 4px dotted #0EA5E9;
}
.sec-title .ja {
  border-bottom: 4px dotted #fff;
}
.sec-title .sub-title {
  font-size: 2.4rem;
  font-weight: normal;
  margin-top: 8px;
}

@media screen and (max-width: 480px) {
  .sec-title .main-title {
    font-size: 4rem;
  }
  .sec-title .sub-title {
    font-size: 2rem;
  }
}
/* ------------------------------
花の背景装飾
------------------------------ */
.bg {
  background-repeat: repeat;
  background-size: auto;
  /* 必要に応じて contain / cover */
  background-position: center;
}

.bg-blue {
  background-image: url("../img/bg-blue.png");
}

.bg-orange {
  background-image: url("../img/bg-orange.png");
}

.bg-green {
  background-image: url("../img/bg-green.png");
}

.bg-pink {
  background-image: url("../img/bg-pink.png");
}

.p-block {
  padding-block: 200px 40px;
}

@media screen and (max-width: 1200px) {
  .p-block {
    padding-block: 140px 40px;
  }
}
@media screen and (max-width: 700px) {
  .p-block {
    padding-block: 100px 40px;
  }
}
@media screen and (max-width: 480px) {
  .p-block {
    padding-block: 80px 40px;
  }
}
/* ------------------------------
greeting-page
------------------------------ */
.greeting-mainvisuasl,
.greeting-message {
  max-width: 99%;
  margin-inline: auto;
}

.greeting-message {
  margin-top: 32px;
}

/* ------------------------------
course-page
------------------------------ */
#course .page-title {
  background-color: #FDBA74;
}
#course .page-contents-title {
  background-color: #FDBA74;
  font-weight: bold;
  margin-top: 24px;
}
#course .page-sub-title {
  background-color: #FDBA74;
}
#course .sub-btn {
  margin-top: 32px;
}
#course .border-light {
  border: 1px solid #FDBA74;
  margin-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 480px) {
  #course .border-light {
    border: none;
  }
  #course .border-light:last-of-type {
    padding-bottom: 0;
  }
}

.course-image {
  width: 98%;
  margin-inline: auto;
}
.course-image img {
  width: 100%;
}

.course-option .page-text {
  margin-block: 24px;
}

.course-normal .page-text:last-of-type {
  color: #FDBA74;
}

/* ------------------------------
graduation-page
------------------------------ */
#graduation .page-title,
#graduation .page-sub-title,
#graduation .page-sub-title-light {
  background-color: #FDE047;
}
#graduation .border-light {
  border: 1px solid #FDE047;
}
@media screen and (max-width: 480px) {
  #graduation .border-light {
    border: none;
  }
}
#graduation .page-text {
  margin-top: 0;
}
#graduation .text-color-red {
  color: #F87171;
}

.graduation-title {
  width: 98%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  border: 2px solid #FDE047;
  border-radius: 15px;
  padding: 16px 8px;
  margin-top: 40px;
  margin-inline: auto;
}

.graduation-texts:nth-of-type(2), .graduation-texts:nth-of-type(4) {
  margin-top: 16px;
}

.color-text {
  width: 98%;
  font-size: 1.8rem;
  color: #FDE047;
  margin-top: 8px;
  margin-inline: auto;
}

/* ------------------------------
activity-page
------------------------------ */
#activity .page-title {
  background-color: #BEF264;
}
#activity .page-sub-title {
  background-color: #BEF264;
}
#activity .border-light {
  border: 1px solid #BEF264;
}
@media screen and (max-width: 480px) {
  #activity .border-light {
    border: none;
  }
}

.activity-content-title {
  text-align: center;
  font-size: 2.4rem;
}

.activity-messages {
  padding-block: 32px;
}

.activity-message-title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: bold;
  color: #0EA5E9;
  margin-bottom: 16px;
}

@media screen and (max-width: 700px) {
  .activity-message-title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .activity-message-title {
    text-align: left;
    font-size: 2.4rem;
  }
}
.page-message-title {
  width: 98%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: #0EA5E9;
  margin-block: 32px 32px;
  margin-inline: auto;
}

@media screen and (max-width: 1200px) {
  .sp-left-start {
    text-align: left;
  }
}
.activity-message {
  width: 98%;
  font-size: 2.4rem;
  font-weight: bold;
  margin-inline: auto;
}

@media screen and (max-width: 480px) {
  .activity-messages {
    padding-top: 0;
  }
  .activity-message {
    font-size: 1.8rem;
  }
}
.activity-img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 32px;
}
.activity-img-list li {
  width: 40%;
  margin-bottom: 24px;
}
.activity-img-list li img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
.activity-img-list li p {
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
}

@media screen and (max-width: 1200px) {
  .activity-img-list li img {
    height: 260px;
  }
}
@media screen and (max-width: 700px) {
  .activity-img-list li img {
    height: 180px;
  }
}
@media screen and (max-width: 480px) {
  .activity-img-list li {
    width: 48%;
  }
  .activity-img-list li img {
    height: 100px;
  }
}
.activity-company {
  width: 80%;
  margin-top: 24px;
  margin-inline: auto;
}
.activity-company img {
  width: 100%;
  margin-bottom: 32px;
}

@media screen and (max-width: 480px) {
  .activity-company {
    width: 96%;
  }
}
/* ------------------------------
life-page
------------------------------ */
#life .page-title {
  background-color: #5EEAD4;
}
#life .page-sub-title {
  background-color: #5EEAD4;
}
#life .border-light {
  border: 1px solid #5EEAD4;
}
@media screen and (max-width: 480px) {
  #life .border-light {
    border: none;
  }
}
#life .list-texts .color-list::before {
  color: #5EEAD4;
}

.page-contents .normal-list {
  margin-top: 24px;
}
.page-contents .bold-text {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 16px;
}

/* ------------------------------
support-page
------------------------------ */
#support .page-title {
  background-color: #0EA5E9;
}
#support .border-light {
  border: 1px solid #0EA5E9;
}
@media screen and (max-width: 480px) {
  #support .border-light {
    border: none;
  }
}
#support .page-text {
  margin-top: 4px;
}
#support .color-list::before {
  color: #0EA5E9;
}

/* ------------------------------
access-page
------------------------------ */
#access .page-title {
  background-color: #F9A8D4;
}
#access .border-light {
  border: 1px solid #F9A8D4;
}
@media screen and (max-width: 480px) {
  #access .border-light {
    border: none;
  }
}
#access .sec-title {
  margin-block: 32px;
  padding-inline: 2%;
}
#access .sec-title #contact {
  padding-block: 0;
}
#access .sec-title .main-title {
  border-bottom: 4px dotted #F9A8D4;
}

.campus-access-texts {
  width: 98%;
  margin-block: 16px;
  margin-inline: auto;
}
.campus-access-texts:first-of-type {
  margin-block: 40px 16px;
}

.campus-access-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #F9A8D4;
  margin-bottom: 4px;
}

#campus-access .access-step-lists {
  list-style: decimal inside;
}
#campus-access .access-step-list {
  font-size: 1.6rem;
}

#campus-access .youtube-inner {
  padding-inline: 1%;
}
#campus-access .youtube-inner iframe {
  border: 8px solid #F9A8D4;
}

#map {
  padding-inline: 2%;
}
#map .google-map {
  max-width: 800px;
  margin-inline: auto;
  border: 8px solid #F9A8D4;
  border-radius: 40px;
}
#map .google-map iframe {
  width: 100%;
  height: 450px;
  border-radius: 32px;
}
@media screen and (max-width: 700px) {
  #map .google-map {
    max-width: 560px;
    margin-block: 40px;
  }
  #map .google-map iframe {
    height: 315px;
  }
}
@media screen and (max-width: 480px) {
  #map .google-map {
    max-width: 380px;
  }
  #map .google-map iframe {
    height: 213px;
  }
}

/* ------------------------------
picup-page
------------------------------ */
#picup .page-title {
  background-color: #C4B5FD;
}
#picup .border-light {
  border: 1px solid #C4B5FD;
}
@media screen and (max-width: 480px) {
  #picup .border-light {
    border: none;
  }
}
#picup .color-list::before {
  color: #C4B5FD;
}
#picup .page-message-title {
  text-align: left;
  margin-block: 32px 16px;
}
#picup .list-texts {
  margin-bottom: 40px;
}
#picup #kg-group {
  margin-bottom: 32px;
}
#picup .kg-group-info {
  max-width: 98%;
}

/* ------------------------------
campus-page
------------------------------ */
#campus {
  padding-bottom: 40px;
}
#campus .sec-title {
  padding-inline: 2%;
  margin-block: 32px;
}
#campus .page-contents:nth-of-type(2) {
  padding-top: 32px;
}

@media screen and (max-width: 480px) {
  #campus .border-light {
    border: none;
  }
  #campus .page-contents:nth-of-type(2) {
    padding-top: 0;
  }
}
.rectangle-btn {
  display: block;
  max-width: 600px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  border: 3px solid;
  border-radius: 10px;
  transition: all 0.2s ease;
  margin-inline: auto;
  padding-block: 24px;
  padding-inline: 8px;
}
.rectangle-btn:first-child {
  background-color: #0EA5E9;
  margin-bottom: 16px;
}
.rectangle-btn:first-child:hover {
  background-color: #fff;
  color: #0EA5E9;
}
.rectangle-btn:last-child {
  background-color: #34D399;
}
.rectangle-btn:last-child:hover {
  background-color: #fff;
  color: #34D399;
}
.rectangle-btn i {
  margin-right: 8px;
}

@media screen and (max-width: 700px) {
  .rectangle-btn {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .rectangle-btn {
    font-size: 1.6rem;
  }
}
.page-nav {
  max-width: 400px;
  margin-inline: auto;
}
.page-nav img {
  width: 100%;
}

/* ------------------------------
single-page
------------------------------ */
#article .sub-btn {
  margin-top: 40px;
}

.article-title-block .article-title {
  font-size: 2.4rem;
}
.article-title-block .article-day {
  font-size: 1.6rem;
}

.article-img {
  max-width: 70%;
  margin-inline: auto;
}
.article-img img {
  width: 100%;
}

.article-text {
  font-size: 1.6rem;
}

/* ------------------------------
cost-page
------------------------------ */
#cost .page-message-title {
  text-align: left;
  font-size: 2rem;
  margin-block: 32px 8px;
}
#cost .sec-title {
  margin-block: 32px;
  padding-inline: 2%;
}

@media screen and (max-width: 480px) {
  #cost .border-light {
    border: none;
  }
}
table {
  width: 98%;
  border-collapse: collapse;
  font-size: 1.6rem;
  margin-inline: auto;
}
table:nth-of-type(n+3) {
  margin-top: 32px;
}

th,
td {
  border: 1px solid;
  padding: 8px;
}

.red-red {
  border: 3px solid;
  background: green;
}

/* ------------------------------
voice-page
------------------------------ */
/* #voice-block {
    .voice-items {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2%;
    }

    .voice-item {
        width: 49%;
        border: 1px solid #e0dfdf;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 2%;
    }
}

@include m.tab {
    #voice-block {
        .voice-item {
            width: 100%;
        }
    }
}
 */
/* ------------------------------
voice-page
------------------------------ */
#voice-block .voice-items {
  max-width: 100%;
}
#voice-block .voice-item {
  width: 98%;
  border: 1px solid #e0dfdf;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 2%;
  margin-inline: auto;
}
#voice-block .voice-item .profile-names {
  font-weight: bold;
  color: #0EA5E9;
}

.voice-anchor::before {
  content: "";
  display: block;
  height: 200px;
  margin-top: -200px;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  #voice-block .voice-item {
    padding-inline: 8px;
  }
}
.profile-block {
  display: flex;
  align-items: center;
  border-bottom: 4px dotted #0EA5E9;
  padding-bottom: 16px;
  margin-bottom: 24px;
}
.profile-block img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  margin-right: 16px;
}

@media screen and (max-width: 700px) {
  .profile-block {
    flex-direction: column;
  }
  .profile-block img {
    width: 80px;
    height: 80px;
  }
}
.profile-texts .voice-title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
  color: #0EA5E9;
  margin-bottom: 8px;
}

@media screen and (max-width: 700px) {
  .profile-texts .voice-title {
    font-size: 2rem;
    margin-top: 16px;
  }
}
.question-answer-title {
  font-size: 2rem;
  font-weight: bold;
}

.question-text {
  font-weight: bold;
  margin-block: 16px 4px;
}

/* ------------------------------
contact-page
------------------------------ */
@media screen and (max-width: 480px) {
  #contact-form .border-light {
    border: none;
  }
}

.contact-message {
  width: 98%;
  margin-inline: auto;
  margin-top: 40px;
}
.contact-message .check-text {
  font-weight: bold;
  color: #ff8ba7;
  margin-top: 16px;
}

form {
  max-width: 98%;
  font-size: 1.6rem;
  margin-top: 16px;
  margin-inline: auto;
}

/* label共通 */
label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  margin-top: 32px;
  cursor: pointer;
}

/* 必須項目 */
.must::after {
  content: "必須";
  position: absolute;
  top: 50%;
  right: -70px;
  transform: translate(-50%, -50%);
  background: #ff8ba7;
  font-size: 1.4rem;
  border-radius: 6px;
  color: #fff;
  padding: 1px 8px 2px 8px;
  margin-left: 8PX;
  cursor: default;
}

/* input共通 */
input {
  display: block;
  background-color: #EDF1F6;
  border-radius: 10px;
  color: #333;
  padding: 8px 10px;
  margin-top: 8px;
  cursor: pointer;
}
input::-moz-placeholder {
  color: #999;
  font-weight: normal;
}
input::placeholder {
  color: #999;
  font-weight: normal;
}
input:focus {
  outline: none;
  border: 2px solid #333;
}

/* 住所 */
.postal_wrapper {
  max-width: 200px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
}
.postal_wrapper .postal_mark {
  font-weight: bold;
  margin-right: 4px;
}
.postal_wrapper .postal_code {
  max-width: 100px;
  margin-top: 0;
}
.postal_wrapper .hyphen {
  font-weight: bold;
  margin-inline: 8px;
}

/* 年齢 */
.age-wrapper {
  max-width: 100px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
}
.age-wrapper .age {
  max-width: 100px;
  margin-top: 0;
}
.age-wrapper .years_old {
  font-weight: bold;
  margin-left: 4px;
}

/* 選択ボタンエリア */
.form-flex-area label {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
}
.form-flex-area label input {
  margin-top: 3px;
}

/* 文章 */
textarea {
  display: block;
  border: 2px solid #ff8ba7;
  border-radius: 15px;
  padding: 8px;
  margin-top: 8px;
  cursor: pointer;
}

/* 送信ボタン */
.submit-btn {
  text-align: center;
  margin-top: 32px;
}
.submit-btn .form-btn {
  display: inline-block;
  background-color: #ff8ba7;
  color: #fff;
  padding: 16px 32px;
  border-radius: 9999px;
}

.input-column {
  width: 100%;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: 2%;
  overflow-x: hidden;
}

iframe {
  vertical-align: bottom;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

i {
  font-size: 1.5em;
}

/* ------------------------------
追加エリア
------------------------------ */
#mainvisual {
  width: 100vw;
  position: relative;
  margin-top: 130px;
}

@media screen and (max-width: 1200px) {
  #mainvisual {
    margin-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  #mainvisual {
    margin-top: 40px;
  }
}
/* ゆっくり流れるスライダー  */
.mv-slider {
  width: 300vw;
  height: 100%;
  display: flex;
  -webkit-animation: loop-slide 60s linear 2s infinite;
  animation: loop-slide 60s linear 2s infinite;
  will-change: transform;
}
.mv-slider li {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}
.mv-slider li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
}

@-webkit-keyframes loop-slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes loop-slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.mv-slider .pc-slide-img {
  display: block;
}
.mv-slider .tab-slide-img,
.mv-slider .sp-slide-img {
  display: none;
}

@media screen and (max-width: 1200px) {
  .mv-slider .pc-slide-img {
    display: none;
  }
  .mv-slider .tab-slide-img {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .mv-slider .tab-slide-img {
    display: none;
  }
  .mv-slider .sp-slide-img {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */