$pc: 1200px;
$pc2: 1000px;
$sub-tab: 768px;
$tab: 700px;
$sp: 480px;
$small-screen: 360px;

@mixin pc {
    @media screen and (max-width: #{$pc}) {
        @content;
    }
}

@mixin pc2 {
    @media screen and (max-width: #{$pc2}) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: #{$tab}) {
        @content;
    }
}

@mixin sub-tab {
    @media screen and (max-width: #{$sub-tab}) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: #{$sp}) {
        @content;
    }
}

@mixin small-screen {
    @media screen and (max-width: #{$small-screen}) {
        @content;
    }
}